include LICENSE
include README.md
include pyproject.toml

graft chekml

# Explicit (optional but safe)
graft chekml/featurization/IF/v2
graft chekml/featurization/IRF/v4

prune testing
prune documentation
prune dist
prune build
prune __pycache__

global-exclude *.o
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude *.pdb

